<div class="large-blank-space"></div>

<div class="login-form">
  <form action="/examples/actions/confirmation.php" method="post">
      <h2 class="text-center">Log in</h2>       
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" required="required" name="username" [(ngModel)]="username">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" required="required" name="password" [(ngModel)]="userPassword">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="signIn()">Log in</button>
      </div>
             
  </form>
  <p class="text-center"><a routerLink='/signup'>Create an Account</a></p>
</div>