<div class="large-blank-space"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-xs-12">
      <ul class="lsit-group">
        <li class="list-group-item">weijie xiang -- z5143263</li>
        <li class="list-group-item">siwei lin -- z5151800</li>
        <li class="list-group-item">yixi wei -- z5176186</li>
        <li class="list-group-item">yi zheng -- z5145928</li>
        <li class="list-group-item">haiyu lyu -- z5142340</li>
      </ul>
    </div>
  </div>
</div>