
<div class="banner">
  <img src="../../assets/banner.jpeg" alt="">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p class="home-row-p" style="margin: 0 auto;">The title of the service: Predict the installs of popular Apps under different categories in Google Play Store
      Advertising has come to be a strong force in the mobile advertising industry, as users on a mobile phone will be
      most interested in clicking ads that relate to their phone.</p>
    </div>
    <div class="col-sm-6" style="text-align: center;">
      
          <img class="home-row-image" src="../../assets//WechatIMG604.png" alt="">
      
    </div>
  </div>
</div>
